@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
    --primary: 221.2 83.2% 53.3%;
    --primary-foreground: 210 40% 98%;
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 221.2 83.2% 53.3%;
    --radius: 0.5rem;
    /* --chart-1:284, 100%, 62%; */

    /* --chart-1: 220 75% 13%; */
    --chart-1:225, 77%, 90%;
    
    --chart-2:195, 93%, 55%;
    /* --chart-2: 0 0% 85%; */
    --chart-3:226, 22%, 58%;
    /* --chart-3:40, 98%, 58%; */
    --chart-4: 0, 0%, 30%;
    --chart-5: 120 12% 22%;

    --eisha: #081839;
    --hassan:#212C44;
    --eisha1: hsl(210, 20%, 94%);
    color: hsl(220, 49%, 11%);
    color:hsl(284, 100%, 62%);
    color:#22c2f7;
    color:hsl(40, 98%, 58%);
    color:#d2dcf9;
    color:hsl(226, 22%, 58%);
    color:#82ca9d;
    color: hsl(40, 87%, 54%);
  }
 

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;
    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;
    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;
    --primary: 217.2 91.2% 59.8%;
    --primary-foreground: 222.2 47.4% 11.2%;
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 224.3 76.3% 48%;
    /* --chart-1: 220 70% 50%; */
    /* --chart-1:'#081839'; */
    --chart-1: 220 75% 13%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}


@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  /* background: #888; */
  border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #1F60B2;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #1F60B2;
}
/* Custom scrollbar styles */
.custom-scrollbar::-webkit-scrollbar {
  width: 12px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #f1f1f1; /* Lighter background for the scrollbar track */
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #727272; /* Darker thumb color */
  border-radius: 10px;
  border: 3px solid #f1f1f1; /* Adds some padding around the thumb */
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #727272; /* Thumb color on hover */
}
@keyframes zoom {
  0%, 100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
}

.animate-zoom {
  animation: zoom 4s ease-in-out infinite;
}

/* global.css */

body {
  background-color: #081839;
}

.page-overlay {
  background-color: rgb(45, 44, 44, 0.23);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  /* z-index: -1; */
  backdrop-filter: blur(15px);
  
}

.main-container {
  min-height: 100vh;
  padding: 6rem 2rem;
  position: relative;
  z-index: 1;
}

.background-image-overlay{
  position: absolute;
  inset:0;
  background-image: url('/resources-background.png'); 
  background-size: cover;
  background-blend-mode: overlay;
  background-position: center;
  opacity: 0.3;
}


.backdrop-blur{
  position: absolute;
  inset:0
}



.card-outline-offers{
  clip-path: polygon( 99.781% 71.626%,87.385% 99.658%,0.219% 99.658%,0.219% 27.819%,12.53% 0.342%,99.781% 0.342%,99.781% 71.626% );
}

.landing-page-image-container{
  clip-path: polygon( 0.041% 0.101%,99.928% 0.101%,76.163% 99.899%,0.041% 99.899%,0.041% 0.101% );
}

.landing-page-image-container-reverse{
  clip-path: polygon( 99.959% 0.101%,0.072% 0.101%,23.837% 99.899%,99.959% 99.899%,99.959% 0.101% );
}

.landing-page-text-container{
  clip-path: polygon( 0.092% 99.899%,30.863% 0.101%,99.896% 0.101%,99.896% 99.899%,0.092% 99.899% );
}

.landing-page-text-container-reverse{
  clip-path: polygon( 99.856% 99.899%,69.085% 0.101%,0.052% 0.101%,0.052% 99.899%,99.856% 99.899% );
}
.bg-custom-image {
  background-image: url('/back.png'); 
  background-size: cover; 
  background-position: center; 
  background-repeat: no-repeat; 
}
.custom-placeholder::placeholder {
  /* background-color:#7E7E7E;  */
  font-size: 0.875rem; 
  /* font-style: italic;  */
  /* border:#d2dcf9 */
 
}
